body {
    background:#FCFFFE;
    font-family:Arial, Helvetica, sans-serif;
}

.assignment {
    padding:10px;
    margin:10px;
    background:#98CCB6;
    border-radius:10px;
}

.assignment img {
    width:200px;
    margin:10px;
    border:4px solid #FFF;
}
.assignment img:hover {
    border:4px solid #DDC5E7;
}

h1 {
    color:#5D7F71;
    text-align:center;
}

h1:hover {
    color:#DDC5E7;
}

a {
    text-decoration:none;
    color:#FFF;
}

a:hover {
    color:#DDC5E7;
}
